{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


 <!-- Header End -->
 <div class="container-xxl py-5 bg-dark page-header mb-5">
  <div class="container my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Job List</h1>
      <nav aria-label="breadcrumb">
          
      </nav>
  </div>
</div>
<!-- Header End -->
<div class="container-xxl py-5">
<div class="container">

  <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
  <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
   </div>                 
</div>
</div>
<div class="tab-content">
  <div id="tab-1" class="tab-pane fade show p-0 active">
    {% if jobs %}
    {% for job in jobs %}
    <div class="job-item p-4 mb-4">
      <div class="row g-4">
          <div class="col-sm-12 col-md-8 d-flex align-items-center">
              
              <div class="text-start ps-4">
                  <h5 class="mb-3">{{job.title}}</h5>
                  <p class="mb-1"><strong>Posted By:-</strong> {{job.company}}</p>
                  <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>Job Location:- {{job.location}}</span>
                  
                  <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary|intcomma }}</span>
              </div>
          </div>
          <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
              <small class="text-muted"><i class="far fa-calendar-alt text-primary me-2"></i>Created {{ job.timestamp|naturaltime }}</small>
              <div class="d-flex mt-2">
                  <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                  
                  <a class="btn btn-secondary ms-2" href="{% url 'job-details' job.pk %}">Job Details</a>
              </div>
          </div>

      </div>
      

  </div>
  
  <!-- <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{job.title}}</h5>
        <p class="card-text">
         Job Location:- {{job.location}}
        </p>
        <p class="card-text">
         {{job.salary|intcomma }}
        </p>
        <p class="card-text">
         Posted By:- {{job.company}}
        </p>
        <a class="btn btn-primary btn-sm" href="{% url 'job-details' job.pk %}"> View Details</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created {{ job.timestamp|naturaltime }}</small>
      </div>
    </div>
  </div> -->
  {% endfor %}
  {% endif %}
</div>
</div>


{% endblock content %}
